<div class="container" *ngIf="authService.isLoggedIn | async as isLoggedIn; else loggedOut">
  <div *ngIf="authService.isAdmin | async as isAdmin">
    <a class="btn btn-success margin-top-3" routerLink="/teams/new">New Team</a>
  </div>

  <div *ngIf="teams; else noTeams" class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
      <div *ngFor="let team of teams" class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <p>
                {{team.name}}
              </p>
            </div>
            <img [src]="team.logo || 'http://placehold.it/150'">
            <div class="card-section">
              <h3>Country</h3>
              <p>
                {{team.country}}
              </p>
              <h3>Coach</h3>
              <p>
                {{team.coachName}}
              </p>
              <h3>Foundation Date</h3>
              <p>
                {{team.foundationDate | date: 'yyyy-MM-dd'}}
              </p>
              <a class="btn btn-info" routerLink="/teams/{{team.id}}">Show</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <div class="top-bar">
    <div class="top-bar-left">
      <a class="logo" routerLink="/">DasaClient</a>
    </div>
    <div class="top-bar-right show-for-medium">
      <ul class="menu">
        <a class="logo" routerLink="/login">Login</a>
      <a class="logo" routerLink="/register">Register</a>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #noTeams>
  <div>
    <p>There are no teams</p>
  </div>
</ng-template>