<div class="container">
  <h2>Team</h2>
  <img [src]="logo || 'http://placehold.it/150'">
  <h3>Name</h3>
  <p>
    {{name}}
  </p>
  <h3>Country</h3>
  <p>
    {{country}}
  </p>
  <h3>Coach</h3>
  <p>
    {{coachName}}
  </p>
  <h3>Foundation Date</h3>
  <p>
    {{foundationDate | date: 'yyyy-MM-dd'}}
  </p>

  <div class="grid-container">
    <h3>Players</h3>
    <div class="grid-x grid-margin-x small-up-2 medium-up-3">
      <div *ngFor="let player of players" class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <div class="cell">
          <div class="card">
            <div class="card-divider">
              <p>
                {{player.name}}
              </p>
            </div>
          </div>
        </div>
        <img [src]="player.avatar || 'http://placehold.it/150'">

        <div class="card-section">
          <h3>Nationality</h3>
          <p>
            {{player.nationality}}
          </p>
          <h3>Birth Date</h3>
          <p>
            {{player.birthDate | date: 'yyyy-MM-dd'}}
          </p>
          <div *ngIf="authService.isAdmin | async as isAdmin">
            <button class="btn btn-danger" (click)="deleteClick()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
