header {
  background: #1976d2;

  .logo {
      font-weight: bold;
  }

  nav {
      justify-self: right;
  
      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .8em;

                  &:hover {
                      background: #1261af;
                  }
              }
          }
      }
  }
}