<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul *ngIf="!(isAuthenticated)">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
      <ul *ngIf="(isAuthenticated)">
        <li><a routerLink="/teams">Teams</a></li>
      </ul>
    </nav>
  </div>
</header>
