<div class="top-bar">
  <div class="top-bar-left">
    <a class="logo" routerLink="/">DasaClient</a>
  </div>
  <div class="top-bar-right show-for-medium">
    <ul class="menu">
      <a class="logo" routerLink="/login">Login</a>
    <a class="logo" routerLink="/register">Register</a>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Sign Up</h2>
        <label class="full-width-input">
          Email
          <input type="text" placeholder="Email" formControlName="email" required>
        </label>
        <label class="full-width-input">
          Name
          <input type="text" placeholder="User Name" formControlName="username" required>
        </label>
        <label class="full-width-input">
          Password
          <input type="password" placeholder="Password" formControlName="password" required>
        </label>
        <button class="button">Register</button>
      </form>
      <div class="login-link">
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
