<h1>New Team</h1>

<div class="container">
  <form [formGroup]="teamForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>
        <label>Name</label>
        <input type="text" formControlName="name">
        <small [hidden]="teamForm.controls.name.valid">
          Name is required
        </small>
      </div>

      <div>
        <label>Country</label>
        <input type="text" formControlName="country">
      </div>

      <div>
        <label>Coach Name</label>
        <input type="text" formControlName="coachName">
      </div>

      <div>
        <label>Foundation Date</label>
        <input type="date" formControlName="foundationDate">
      </div>

      <div>
        <label>Logo</label>
        <input type="file" formControlName="logo">
      </div>
    </div>

    <div formArrayName="players">
      <div *ngFor="let player of teamForm.get('players')['controls']; let i=index">
        <div>
          <span>Player {{i + 1}}</span>
          <span *ngIf="teamForm.get('players')['controls'].length > 1" (click)="removePlayer(i)">
          </span>
        </div>

        <div [formGroupName]="i">
          <div>
            <label>Name</label>
            <input type="text" formControlName="name">
            <small [hidden]="teamForm.controls.players.controls[i].controls.name.valid">
              Name is required
            </small>
          </div>

          <div>
            <label>Nationality</label>
            <input type="text" formControlName="nationality">
          </div>

          <div>
            <label>Birth Date</label>
            <input type="date" formControlName="birthDate">
          </div>

          <div>
            <label>Avatar</label>
            <input type="file" formControlName="avatar">
          </div>

          <div>
          </div>
        </div>

        <button type="button" (click)="removePlayer(i)">Remove Player</button>
        <br/>
        <button type="button" (click)="addPlayer(i)">Add New Player</button>
      </div>
    </div>
    <button type="submit" [disabled]="!teamForm.valid">Submit</button>
  </form>
</div>
